@charset "utf-8";

/*========= ドロップダウンのためのCSS ===============*/

/*==ナビゲーション全体の設定*/
nav{
  background:#3F3152;
  color:#fff;
  text-align: center;
}

/*ナビゲーションを横並びに*/
nav ul{
    /*2階層目の基点にするためrelativeを指定*/
  position: relative;
  display: flex;
  justify-content: center;
}
/*2階層目以降は横並びにしない*/
nav ul ul{
  display: block;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
    /*矢印の基点にするためrelativeを指定*/
  position: relative;
  display: block;
  text-decoration: none;
  color: #999;
  padding:20px 45px;
  transition:all .3s;
  border: 5px dotted #f00;
}

/* ??????????? */
nav ul li li a{
    padding:20px;
  }

  nav ul li a:hover{
    color:#fff; 
  }

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/

nav ul li.has-child > a::before{
    content:'';
    position: absolute;
    left:15px;
    top:25px;
    width:6px;
    height:6px;
    border-top: 2px solid #f00;
      border-right:2px solid #f00;
      transform: rotate(135deg);
  }

/*==2階層目以降の画像設定*/
nav ul li.has-child img{
    max-width: 100%;
    height: auto;
    transition: all .5s;
    vertical-align: bottom;
  }
  /*hoverしたら画像拡大*/
  nav ul li.has-child img:hover{
    transform: scale(1.2);
  }

  nav ul li.has-child dt{
    overflow: hidden;
    height: 20vh;
    margin:0 0 20px 0;
  }

  @media screen and (max-width:1200px){
    nav ul li.has-child dt{
      height: 12vh;
    }
      
    }

/*== 2層目の設定 */

nav li.has-child ul{
    /*絶対配置で位置を指定*/
    position: absolute;
    left:0;
    top:100%;
    z-index: 4;
    /*子要素を横並びに*/    
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
      /*形状を指定*/
    background:#888;
    width:100%;
      /*はじめは非表示*/
    /* visibility: hidden;
    opacity: 0; */
       /*アニメーション設定*/
    transition: all .3s;
  }

/*hoverしたら表示*/
nav li.has-child:hover > ul{
    display: flex;
    /* visibility: visible;
    opacity: 1; */
  }

/*各ナビゲーション横幅*/
nav li.has-child ul li{
    width:20%;
  }

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a{
    color: #fff;
  }
  
  nav li.has-child ul li a:hover,
  nav li.has-child ul li a:active{
    background:#3577CA;
  }
